Name: contact-rpc
ListenOn: 0.0.0.0:9003


DBList:
  Mysql:
    Address: mysql:3306
    Username: root
    Password: "PXDN93VRKUm8TeE7"
    DBName: tiktok-contact
    TablePrefix: ""
  Redis:
    Address: redis:6379
    Password: G62m50oigInC30sf

#监控
Prometheus:
  Host: 0.0.0.0
  Port: 4003
  Path: /metrics

#链路追踪
Telemetry:
  Name: rpc-contact
  Endpoint:  http://jaeger:14268/api/traces
  Sampler: 1.0
  Batcher: jaeger