# 启动配置
Name: video.rpc
ListenOn: 0.0.0.0:9002
Etcd:
  Hosts:
  - 127.0.0.1:2379
  Key: video.rpc


DBList:
  Mysql:
    Address: 127.0.0.1:3306
    Username: root
    Password: "12345678"
    DBName: h68u-tiktok
    TablePrefix: "1_"
  Redis:
    Address: 127.0.0.1:6379
    Password: