# 启动配置
Name: user
Host: 0.0.0.0
Port: 8001

# RPC 配置
UserRpc:
  Etcd:
    Hosts:
      - 127.0.0.1:2379
    Key: user.rpc

# JWT 配置
Auth:
  AccessSecret: ThisIsMySecret
  AccessExpire: 1296000         # 15 天