# 启动配置
Name: h68u-tiktok
Host: 0.0.0.0
Port: 8080
#Mode: dev
MaxBytes: 104857600 # 100MB
Timeout: 100000 # 100s

# RPC 配置
ContactRpc:
  Endpoints:
    - 127.0.0.1:9003
  NonBlock: true

VideoRpc:
  Endpoints:
    - 127.0.0.1:9002
  NonBlock: true

UserRpc:
  Endpoints:
    - 127.0.0.1:9001
  NonBlock: true

# JWT 配置
Auth:
  AccessSecret: ThisIsMySecret
  AccessExpire: 1296000         # 15 天

OSS:
  Endpoint: oss-cn-hongkong.aliyuncs.com
  AccessKeyID:
  AccessKeySecret:
  BucketName: h68u-tiktok


#监控
Prometheus:
  Host: 0.0.0.0
  Port: 4000
  Path: /metrics

#链路追踪
Telemetry:
  Name: http-app
  Endpoint: http://jaeger:14268/api/traces
  Sampler: 1.0
  Batcher: jaeger

Redis:
  Address: redis:6379
  Password: G62m50oigInC30sf